.contact_wrapper {
  padding: 5% 10%;
  color: #fff;

  h1 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    color: #ddd;
  }

  svg {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.contact-form {
  padding-top: 20px;

  .MuiFormControl-root {
    background-color: white;
    border-radius: 5px;
  }

  .MuiInputBase-input {
    color: #000; // <--- fixes the invisible text
  }

  button {
    float: right;
    background-color: #5000ca;
    color: white;
  }

  button:hover {
    background-color: white;
    color: #5000ca;
  }
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.success-msg {
  margin-top: 15px;
  color: limegreen;
  font-weight: bold;
}